.register-card{
  position: absolute;
  top:20%;
  left:15%;
}
.reset-card{
  position: absolute;
  top:30%;
  left:15%;
}

.report-view{
  position: relative;
  left:20% !important;
  top:20% !important;
}
.dashboard{
  position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    color: #202020;
    z-index: -1;
    text-align: center;
    width: 100%;
}
.card_d{
  padding: 1em;
  margin: 2em;
  background: rgb(61,61,63);
  background: linear-gradient(32deg, rgba(61,61,63,1) 0%, rgba(107,93,93,1) 73%, rgba(127,117,117,0.9643207624846813) 100%);
  color:white;
  -webkit-box-shadow: 6px 6px 22px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 22px -3px rgba(0,0,0,0.75);
box-shadow: 6px 6px 22px -3px rgba(0,0,0,0.75);
border-radius: 0.5em !important;
}
.card_d a{
  color: white !important;
}
.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px;
  margin-top: 8%;
  background-color: #1e1e1e !important;
  color:white;
}
.card2 {
  margin: 0px 40px;
  background-color: #1e1e1e !important;
  color:white;
}
.image {
  width: 360px;
  height: 280px
}
.border-line {
  border-right: 1px solid #EEEEEE
}
.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304FFE;
  outline-width: 0
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

a {
  color: inherit;
  cursor: pointer
}

.btn-blue {
  background-color: #1A237E;
  width: 150px;
  color: #fff;
  border-radius: 2px
}

.btn-blue:hover {
  background-color: #000;
  cursor: pointer
}

.bg-blue {
  color: #fff;
  background-color: #1A237E
}

@media screen and (max-width: 991px) {
  .logo {
      margin-left: 0px
  }

  .image {
      width: 300px;
      height: 220px
  }

  .border-line {
      border-right: none
  }

  .card2 {
      border-top: 1px solid #EEEEEE !important;
      margin: 0px 15px
  }
}
.dashboard_logo{
  width:200px;
  height:90px;
  padding: 1em;
}
#search{
position:absolute;
top:10%;
left:70%;
}
.success_message{
    position:absolute !important;
    width: 100%;
    overflow: hidden;
    padding:0.5em !important;
  }

#success_message {
  -moz-animation: cssAnimation 0s ease-in 2s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 2s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 2s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
      opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
      opacity: 0;
  }
}
  /* Scrollbar*/
  .scrollbar
  {
      float: left;
      height: 300px;
      overflow-y: scroll;
  }
  .force-overflow
  {
      min-height: 450px;
  }
  #style-1::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }
  
  #style-1::-webkit-scrollbar
  {
      width: 12px;
      background-color: #F5F5F5;
  }
  
  #style-1::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
  }

 
  body {
    background-color: #efefef !important;  
    overflow-x: hidden;
  }
  /* Tables CSS*/  
  .custom-table {
    padding: 10%;
    min-width: 900px;
    overflow-y: auto;
 }
 .custom-table thead {
    position: sticky;
    background-color: #1b1b1b;
    color: #eeeeee;
    top:0;
    border-top: none;
      border-bottom: none !important; } 

    .custom-table tbody th, .custom-table tbody td {
      color: #777;
      font-weight: 400;
      padding-bottom: 20px;
      padding-top: 20px;
      font-weight: 300;
      border: none; }

      .custom-table tbody th small, .custom-table tbody td small {
        color: #b3b3b3;
        font-weight: 300; }

    .custom-table tbody tr {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }

      .custom-table tbody tr:hover, .custom-table tbody tr:focus {
        background: #fff; }
  
  
/* Navigation CSS*/
  
  .header{
    background: #1b1b1b !important;
  }
  .header a{
    color: #eeeeee !important;
    background: #1b1b1b !important;
  }
  .dropdown-menu { 
    background: #1b1b1b !important;
  }
  * {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
  }
  .sidebar {
    position: fixed;
    width: 15%;
    height: 100%;
    background: #1b1b1b;
    left: 0;
  }
  
  .sidebar .text {
    color: white;
    font-size: 19px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px
  }
  
  .sidebar ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 10px
  }
  
  .sidebar ul li {
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
  }
  
  .sidebar ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05)
  }
  
  .sidebar ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-left: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent
  }
  
  .sidebar ul li.active a {
    color: #FC5404;
    background: #1e1e1e;
    border-left-color: #FC5404
  }
  
  .sidebar ul li a:hover {
    background: #1e1e1e
  }
  
  .feat-show {
    transition: all 0.5s
  }
  
  .sidebar ul li.active ul {
    transition: all 0.5s
  }
  
  .sidebar ul ul {
    position: static;
    display: none
  }
  
  .sidebar ul.show {
    display: block;
    transition: all 0.5s
  }
  
  .sidebar ul ul li {
    line-height: 42px;
    border-top: none
  }
  
  .sidebar ul ul li a {
    font-size: 12px;
    color: #e6e6e6
  }
  
  .sidebar ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent
  }
  
  a:hover {
    color: #FC5404 !important
  }
  
  .sidebar ul ul li a:hover {
    color: #FC5404 !important;
    background: #1e1e1e !important
  }
  
  .sidebar ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: transform 0.4s
  }
  
  .sidebar ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg)
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    color: #202020;
    z-index: -1;
    text-align: center
  }

  .form-group{
    padding: 1em;
  }
  .form-table {
    padding: 10%;
    min-width: 900px;
    overflow-y: auto;
    border:transparent !important;
    overflow: hidden;
  }
  input{
    border: black;
    border-color: black;
  }
 label {
    display: block;
    padding:.5em;
}
.fm {
  height:3px !important;
}
input, label {
    margin: .4rem 0;
}
input[type="date"]{
  position: relative !important;
  color:#000;
  padding: 2px;
  padding-left: 2em;
  padding-right: 4em;
  left: 20px;
  width: 65%;
  
}
input[type="time"]{
  position: relative !important;
  color:#000;
  padding: 2px;
  padding-left: 4em;
  padding-right: 4em;
  left: 9px;
  width: 65%;
}

select{
  position: relative !important;
  left: 9%;
  max-width:67%;
  display:inline-block;
}
.g1{
  position: relative;
  margin-left: 10% !important;
}
.g2{
  position: relative;
  margin-left: 5% !important;
}
.g3{
  position: relative;
  margin-left: 8% !important;
}
.g4{
  position: relative;
  margin-left: 2% !important;
}
.g5{
  position: relative;
  margin-left: -2% !important;
}
